
@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index Production Report</title>
</head>
<body>
    Index Production Report
</body>
</html>
